@attribute [StreamRendering]
@page "/user/attendance/edit"

@using UIPortal.Components.Models
@using System.Net.Http.Json
@inject HttpClient _httpClient
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Edit Attendance</PageTitle>

<h1>Edit Attendance</h1>

<h2>@Id</h2>



<div>
    <a href="/attendance/view-all">Back to List</a>
</div>

@code {
    public string message = "";
    private AttendanceDto? attendance;

    [SupplyParameterFromQuery]
    public int Id { get; set; }


    

    
}
