@page "/customers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid

@inject HttpClient _httpClient
@attribute [Authorize(Roles = "Admin")]




@inject NavigationManager Navigation
@inject HttpClient _httpClient
<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="customers/create">Create New</a>
</p>

<!--<QuickGrid Class="table" Items="customers">
    <PropertyColumn Property="customer => customer.Name" />
    <PropertyColumn Property="customer => customer.City" />
    <PropertyColumn Property="customer => customer.Password" />
    <PropertyColumn Property="customer => customer.Role" />

    <TemplateColumn Context="customer">
        <a href="@($"customers/edit?id={customer.Id}")">Edit</a> |
        <a href="@($"customers/details?id={customer.Id}")">Details</a> |
        <a href="@($"customers/delete?id={customer.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>-->

@code {
    // private ApplicationDbContext context = default!;

    // private IQueryable<CustomerDto> customers;

    // protected override async Task OnInitializedAsync()
    // {
    //     var customerList = await _httpClient.GetFromJsonAsync<List<CustomerDto>>("Customers");
    //     customers = customerList.AsQueryable();

    // }
 
}
